***Apriori Algorithm can be implemented using some inbuilt functions as well.***

**Firstly, we installed the apyori package.**

In [ ]:
get_ipython().system('pip install apyori')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=7698dd496a48436e5b0516add6eaacbd73a36294f9ce2ce6e7ce1e447a05e1a2
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

**Then, we imported apriori library from apyori package.**

In [ ]:
from apyori import apriori

**We considered a dataset with 6 distict item sets.**

In [ ]:
dataset=[['Milk','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
        ['Dill','Onion','Nutmeg','Kidney Beans','Eggs','Yogurt'],
        ['Milk','Apple','Kidney Beans','Eggs'],
        ['Milk','Unicorn','Corn','Kidney Beans','Yogurt'],
        ['Corn','Onion','Onion','Kidney Beans','Ice cream','Eggs']]

In [ ]:
import pandas as pd

**We installed some ML extensions to work over the dataset.**

In [ ]:
get_ipython().system('pip install mlxtend')

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.6)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.2.0)

**Now, we encoded our transactions and applied pre-processing.**

In [ ]:
from mlxtend.preprocessing import TransactionEncoder

In [ ]:
dataset

[['Milk', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Dill', 'Onion', 'Nutmeg', 'Kidney Beans', 'Eggs', 'Yogurt'],
 ['Milk', 'Apple', 'Kidney Beans', 'Eggs'],
 ['Milk', 'Unicorn', 'Corn', 'Kidney Beans', 'Yogurt'],
 ['Corn', 'Onion', 'Onion', 'Kidney Beans', 'Ice cream', 'Eggs']]

**Tranforming and fitting our data.**

In [ ]:
te=TransactionEncoder()
te_ary=te.fit(dataset).transform(dataset)

**Arranging data in columns format.**

In [ ]:
df=pd.DataFrame(te_ary,columns=te.columns_)
df

,Apple,Corn,Dill,Eggs,Ice cream,Kidney Beans,Milk,Nutmeg,Onion,Unicorn,Yogurt
0,False,False,False,True,False,True,True,True,True,False,True
1,False,False,True,True,False,True,False,True,True,False,True
2,True,False,False,True,False,True,True,False,False,False,False
3,False,True,False,False,False,True,True,False,False,True,True
4,False,True,False,True,True,True,False,False,True,False,False

**Generating frequent patterns by obtaining support count and comparing it with specified minimum support count.**

In [ ]:
from mlxtend.frequent_patterns import apriori
frequent_itemsets=apriori(df,min_support=0.6,use_colnames=True)
frequent_itemsets

    support                     itemsets
0       0.8                       (Eggs)
1       1.0               (Kidney Beans)
2       0.6                       (Milk)
3       0.6                      (Onion)
4       0.6                     (Yogurt)
5       0.8         (Kidney Beans, Eggs)
6       0.6                (Eggs, Onion)
7       0.6         (Kidney Beans, Milk)
8       0.6        (Kidney Beans, Onion)
9       0.6       (Kidney Beans, Yogurt)
10      0.6  (Kidney Beans, Eggs, Onion)

**Finally, we found the frequent patterns those follow association rule via Apriori Algorithm. Also, we calculated the Support, Confidence,Lift,etc.**

**Note:**
* Antecedents are item sets on the left side of the arrow.
* Consequents are item sets on the right side of the arrow.

In [ ]:
from mlxtend.frequent_patterns import association_rules
rules = association_rules(frequent_itemsets, metric ="lift", min_threshold = 1)

print(rules.head())
#rules

      antecedents     consequents  antecedent support  consequent support  \
0  (Kidney Beans)          (Eggs)                 1.0                 0.8
1          (Eggs)  (Kidney Beans)                 0.8                 1.0
2          (Eggs)         (Onion)                 0.8                 0.6
3         (Onion)          (Eggs)                 0.6                 0.8
4  (Kidney Beans)          (Milk)                 1.0                 0.6

   support  confidence  lift  leverage  conviction
0      0.8        0.80  1.00      0.00         1.0
1      0.8        1.00  1.00      0.00         inf
2      0.6        0.75  1.25      0.12         1.6
3      0.6        1.00  1.25      0.12         inf
4      0.6        0.60  1.00      0.00         1.0